<h1>Update <%= @artist.name %> Form</h1>
<hr>
<%= form_with url: "/artists/#{@artist.id}", method: :patch, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %><br><br>
  <%= form.label :sponsored %>
  <%= form.select :sponsored, [true, false] %><br><br>
  <%= form.label :rank %>
  <%= form.text_field :rank %><br>
  <br>
  <div>
  <%= form.submit "Update Artist" %>
  </div>
<% end %>