<h1>New Artist Form</h1>
<hr>
<%= form_with url: "/artists", method: :post, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %><br><br>
  <%= form.label :sponsored %>
  <%= form.select :sponsored, [true, false] %><br><br>
  <%= form.label :rank %>
  <%= form.text_field :rank %><br>
  <br>
  <div>
  <%= form.submit 'Create Artist' %>
  </div>
<% end %>