<h1><%= @artist.name %>'s Paints</h1>
<hr>
<body>
<%= link_to 'Index Alphabetically', "/artists/#{@artist.id}/paints?sort=abc" %>
<br>
<% @paints.each do |paint| %>
  <h3><%= link_to paint.name, "/paints/#{paint.id}" %></h3>
    Brand: <%= paint.brand %><br>
    High Pressure: <%= paint.high_pressure %><br> 
    Opacity: <%= paint.opacity %>
  <p> <%= button_to "Update #{paint.name}", "/paints/#{paint.id}/edit", method: :get %> </p><br><br>
<% end %>
<br>
<br>
<%= link_to 'Create Paint', "/artists/#{@artist.id}/paints/new" %>
</body>