<h1><%= @artist.name %>'s Paints</h1>
<hr>
<body>

<br>
<% @paints.each do |paint| %>
  <h3><%= link_to paint.name, "/paints/#{paint.id}" %></h3>
    Brand: <%= paint.brand %><br>
    High Pressure: <%= paint.high_pressure %><br> 
    Opacity: <%= paint.opacity %><br><br>
<% end %>
<br>
<br>
<%= link_to 'Create Paint', "/artists/#{@artist.id}/paints/new" %>
</body>