<h1>New Paint Form</h1>
<hr>
<body>
<%= form_with method: :post, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %><br>
  <%= form.label :brand %>
  <%= form.text_field :brand %><br>
  <%= form.label :high_pressure %> <small>(check box if true)</small> <%= form.check_box :high_pressure, {}, true, false %> <br>
  <%= form.label :opacity %>
  <%= form.text_field :opacity %><br>
  <div>
  <%= form.submit 'Create Paint' %>
  </div>
<% end %>
</body>