<h1>New Paint Form</h1>
<hr>
<body>
<%= form_with method: :post, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %><br><br>
  <%= form.label :brand %>
  <%= form.text_field :brand %><br><br>
  <%= form.label :high_pressure %>
  <%= form.select :high_pressure, [true, false] %><br><br>
  <%= form.label :opacity %>
  <%= form.text_field :opacity %><br><br>
  <div>
  <%= form.submit 'Create Paint' %>
  </div>
<% end %>
</body>